*{
  margin: 0;
  padding: 0;
}
.load{
  animation: slide 10s;

}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height: 600px;
  animation: slide 20s infinite;

}

.content{
  color:#fff;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);



}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  letter-spacing: 5px;
  text-align: left;

}
.principal h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.principal p{
    font-size: 20px;
}

@keyframes slide {

  0%{
    background-image: url('pexels-lorenzo-241544.jpg');
  }

  25%{
    background-image: url('pexels-lorenzo-241544.jpg');
  }

  50%{
    background-image: url('pexels-pixabay-534216.jpg');

  }
  100%{
    background-image: url('pexels-pixabay-534216.jpg');
  }

}
